.body-work {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
  font-weight: 300;
  margin-bottom: 4%;
  line-height: 22px;
}

.text {
	width: 60%;
	margin-bottom: 5%;
  text-align: left;
  font-size: 18px;
}

.images {
	margin-bottom: 5%;
}

.images img {
	margin-right: 10px;
	margin-left: 10px;
  max-height: 600px;

}
.images-space {
	/*width: 20px;*/
}

#gif {
  max-height: 432px;
  position: absolute; 
  left: 9%;
  top: 13.7%; 
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.website-title {
	font-style: italic;
	font-weight: 800;
  cursor: pointer;
  font-size: 50px;
}

.website-title:hover {
	transform:scale(1.05);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.website-title:visited {
  color: black;
}

#website-title-citibox {
  color: #7942ED;
}

#website-title-loud {
  color: #FE1863;
}

#website-title-groopify {
  color: #A9C924;
}

#website-title-yaap {
  color: #00AD8F;
}

#groopify-link {
  color: #A9C924;
}

#groopify-link:visited {
  color: #A9C924;
}

/* Large Screens */

@media all and (max-width: 2000px) {

}

@media all and (max-width: 1500px) {


}


/* Medium Screens */

@media all and (max-width: 800px) {
  .text {
    width: 80%;
    margin-bottom: 8%;
    margin-top: 2%;
  }

  .images {
    text-align: center;
    margin-bottom: 20px;
  }

  .images img {
    max-height: 400px;
    margin-bottom: 20px;
  }

  #gif {
    max-height: 288px;
    left: 9%;
    top: 13%; 
  }
}


/* Small screens */


@media all and (max-width: 500px) {
  
  .text {
    width: 80%;
    margin-bottom: 8%;
    margin-top: 2%;
  }

  .images {
    text-align: center;
    margin-bottom: 20px;
  }

  .images img {
    max-height: 400px;
    margin-bottom: 20px;
  }

  #gif {
    max-height: 288px;
    left: 9%;
    top: 13%; 
  }
}

@media all and (max-width: 400px) {
  text {
    width: 80%;
    margin-bottom: 8%;
    margin-top: 2%;
  }

  .images {
    text-align: center;
    margin-bottom: 20px;
  }

  .images img {
    max-height: 400px;
    margin-bottom: 20px;
  }

  #gif {
    max-height: 288px;
    left: 9%;
    top: 13%; 
  }
}

@media all and (min-width: 450px) {

}